.active {
  font-weight: 700;
  color: rgb(96 165 250 / var(--tw-text-opacity));
}
.light-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgb(18, 7, 40);

}

.light-scrollbar::-webkit-scrollbar {

  height: 3px;
  width: 5px;
}